<nav class="flex items-center justify-between px-10 py-4 bg-white shadow-sm border-b">
  <div class="text-2xl font-bold text-gray-800 cursor-pointer" routerLink="/">
    Park<span class="text-blue-600">City</span>
  </div>
  <div class="space-x-6 text-sm font-medium flex items-center">
    
    <a routerLink="/" class="text-gray-600 hover:text-blue-600 transition">Strona główna</a>

    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login" class="text-gray-600 hover:text-blue-600 transition">Zaloguj się</a>
      <a routerLink="/register" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">Zarejestruj</a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <a routerLink="/panel" class="text-gray-600 hover:text-blue-600 border-l pl-6 transition">Moje Rezerwacje</a>
      <button (click)="logout()" class="text-red-500 font-bold hover:text-red-700 transition ml-4">
        Wyloguj
      </button>
    </ng-container>

  </div>
</nav>

<router-outlet></router-outlet>